<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Airtrack Application</title>
</head>
<body>
<h1>Welcome to Airtrack Application</h1>

<div th:if="${param.error}">
    Invalid username or password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/index}" method="post">
    <div><label> User Id : <input type="text" name="id"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
    <div><input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> </div>
    <a th:href="@{/registration}">Registration</a>
</form>
</body>
</html>