<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Airtrack Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div class="container">
    <form th:action="@{/logout}" method="post">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <input type="submit" value="Sign Out"/>
    </form>

    <div class="starter-template">
        <h1>Welcome to Airtrack Application</h1>
        <h2> Please select location: </h2>
    </div>
    <div class="list-locaions">

        <tr th:each="location : ${locations}">
            <p>
                <a th:href="@{/condition/{id}(id=${location.id})}">
                    <!--<a th:href="@{'/users/doDelete/'${user.id}}"><span>Delete</span></a>-->
                    <td th:text="${location.id}"></td>
                    <td th:text="${location.name}"></td>
                </a>
            </p>

        </tr>
    </div>

    <!--<div class="add-new-location">-->
        <!--<form  th:action="@{/index}" method="POST">-->
            <!--<div>-->
                <!--<label >Location name</label>-->
                <!--<input type="text" th:text="*{location.name}" placeholder="locName" />-->
            <!--</div>-->

        <!--</form>-->
    <!--</div>-->
</div>

</body>
</html>

<!--<p>Type:-->
<!--<select th:field="*{locType}" >-->
<!--<option th:each="locType: ${locTypes}" th:value="${locType.id}" th:text="${locType.name}"></option>-->
<!--</select>-->
<!--</p>-->
<!--<p>Standart:-->
<!--<select th:field="*{standart}" >-->
<!--<option th:each="standart: ${standarts}" th:value="${standart.id}" th:text="${standart.name}"></option>-->
<!--</select>-->
<!--</p>-->